	* {
	margin: 0;
	padding: 0;
	}
	
	html, body, canvas {
		width: 100%;
		height: 100%;
		
	}

	canvas {
		position: absolute;
		
	} 
	
	.newGame {
    height: 15%;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
	 font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
p {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 125%;
    text-align: left;
    
}

#timer {
    font-family: 'font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 125%;
}

